<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post" action="{% url 'todo_item_create' %}">
                {% csrf_token %}
                <div>
                    <label for="task">Task:</label>
                    <input type="text" id="task" name="task">
                </div>

                <div>
                    <label for="due_date">Due Date:</label>
                    <input type="date" id="due_date" name="due_date">
                </div>

                <div>
                    <label for="is_completed">Is Completed:</label>
                    <input type="checkbox" id="is_completed" name="is_completed">
                </div>
                <div>
                    <label for="list">List:</label>
                    <select id="list" name="list">
                        {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="Create">Create</button>
            </form>
        </div>
    </main>
</body>

</html>